* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --black:black;
    --white:white;
}
.mainApp {
    width: 100%;
    height: 90.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.mainApp .videoBackground {
    position: absolute;
    width: 100%;
    scrollbar-width: none;
    overflow: auto;
    z-index: -10;
}


/*  */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    font-size: 13px;
    position: absolute;
    top: 0;
    color: white; 
}

.navBar .logo {
    width: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.navBar .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.navBar .menu a{
    text-decoration: none;
    color: white;
}
.navBar .register{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
    font-size: 17px;
}
.navBar .register .Login{
    border-radius: 20px;
    background-color:rgb(31, 31, 31);
    border:none;
    color: var(--white);
    padding: 11px 15px 11px 15px;
    text-align: center;

}

.navBar .register .Signup{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.865);
    border:none;
    color: var(--black);
    padding: 11px 15px 11px 15px;
    text-align: center;

}
