* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --black: black;
    --white: white;
}

.mainApp {
    width: 100%;
    height: 91.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainApp .videoBackground {
    position: absolute;
    width: 100%;
    scrollbar-width: none;
    overflow: auto;
    z-index: -10;
}


/*  */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    font-size: 13px;
    position: absolute;
    top: 0;
    color: white;
}

.navBar .logo {
    width: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.navBar .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.navBar .menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navBar .register {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
    font-size: 17px;
}

.navBar .register .Login {
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: var(--white);
    padding: 11px 15px 11px 15px;
    text-align: center;
    cursor: pointer;

}

.register .Signup {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.865);
    border: none;
    color: var(--black);
    padding: 11px 15px 11px 15px;
    text-align: center;
    cursor: pointer;
}

/* hero content */
.heroContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    flex-direction: column;
}

.heroContent p {
    font-size: 39px;
    width: 310px;
    text-align: center;
    color: var(--white);
}

.heroContent span {
    color: rgba(210, 210, 210, 0.959);
    width: 300px;
    text-align: center;
    font-size: 12px;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heroContent .heroBtn {
    padding: 14px 14px 14px 14px;
    border-radius: 30px;
    border: none;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

/* dragSection */

.dragSection {}

.dragSection .drag1 {
    opacity: 0.8;
    animation: animationCard 7s alternate infinite;

    min-width: 200px;
    max-width: 200px;
    bottom: 70px;
    left: 130px;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.146);
    background-color: #44403f89;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    color: var(--white);
    cursor: pointer;
    filter: blur(0.4px);
    gap: 22px;
}

.drag1 .header1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;


}

.drag1 .header1 p {
    font-size: 15px;
}

.drag1 .header1 .dragBtn {
    border-radius: 100px;
    border: none;
    transform: rotate(20deg);
    padding: 3px;
    opacity: 0.8;
    background-color: var(--white);
    cursor: pointer;
}

.drag1 .header2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

}

.drag1 .header2 p {
    font-size: 10px;
    width: 55%;
}

.drag1 .header2 span {
    border-radius: 100px;
    border: none;
    transform: rotate(-10deg);
    padding: 3px;
    opacity: 0.8;

}

/* xxxxxxxx */

.dragSection .drag2 {
    animation: animationCard 9s alternate infinite;
    opacity: 0.8;

    min-width: 200px;
    max-width: 200px;

    min-height: 100px;
    bottom: 10px;
    left: 70%;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.146);
    background-color: #44403f89;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    color: var(--white);
    cursor: pointer;
    filter: blur(0.4px);
    gap: 22px;
}


.dragSection .drag2:hover,
.drag1:hover {
    opacity: 1;
    transform: translate(-2%);
    
}

.drag2 .header1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;


}

.drag2 .header1 p {
    font-size: 15px;
}

.drag2 .header1 .dragBtn {
    border-radius: 100px;
    border: none;
    transform: rotate(20deg);
    padding: 3px;
    opacity: 0.8;
    background-color: var(--white);
    cursor: pointer;
}

.drag2 .header2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

}

.drag2 .header2 p {
    font-size: 20px;
    width: 55%;
    padding-left: 12px;
}

.drag2 .header2 span {
    border-radius: 100px;
    border: none;
    transform: rotate(-10deg);
    padding: 3px;
    opacity: 0.8;

}

@keyframes animationCard {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg) translate(2%);


    }

    100% {
        transform: rotate(-5deg);

    }
}